.body{
    background-color: rgb(242, 242, 242);
}
.etiqueta-xl{
    background-color: rgb(191, 191,191);
}
.imgEtiqueta
{
    height: 120px;
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.container{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    height: auto;
    padding: 40px 0px;
}
/* Subcontendiro de las direcciones */
.subcontainer
{
    border: 1px solid rgb(217,217,217);
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    border-radius: 100px;
    padding: 50px 0px;
}
/* Tabano de los botones */


.botonspas{
    width:80%;
    margin-top: 2%;
    border: 1px solid rgb(217,217,217);
    background-color: rgb(242, 242,242);
    padding: 25px 30px;
    padding-bottom: 0px;


}

.a{
    text-decoration:none ;
}
.letras{
    text-decoration: none;

}
ul{
    list-style: none;
    text-align:left ;
}
span{
    color: rgb(89, 89, 89);
}
li{
    margin-bottom: 5%;
}
p{
    color: rgb(89, 89, 89);
    position: relative;
    text-align: left;
    margin-left: 10%;

}
.img{
    margin-left: 3%;
    width: 110px;
    height: auto;
}
.tbn{
    text-align: left;
    background-color: #BFBFBF;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px #000000;
}
.email{
    width: 80%;
    border: none;
    background-color: rgb(242, 242,242);    
}
.button{
    background-color: #BFBFBF;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px #000000;
}