.etiqueta-xl{
    background-color: rgb(191, 191,191);
}
.imgEtiqueta
{
    height: 120px;
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
form{
    margin-left: 4%;
}
.botones{
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
    margin-bottom: 2%;
}

.boton{
    background-color: #BFBFBF;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px #000000;
}

.img{
    margin-top: 1%;
    margin-left: 3%;
    width: 110px;
    height: auto;
}
.a{
    text-decoration: none;
}

