body{
    background-color: rgb(242, 242, 242);
}
.encabezado{
    width: 100%;
    overflow: hidden;
}

.form-control{
    text-align: center;
    width: 50%;
}
form{
    margin-top: 4%;
}
.info{
    position: relative;
    width: 40%;
    height: 30vh;
    margin-top: 2%;
    border: 1px solid black;
}
.users{
    width: 50%;
    margin-top: 5%;
    height: auto;
}
.bus{
    width: 50%;
    margin-bottom: 5%; 
    height: auto;
}
.diagramas{
    width: 50%;
    margin-top: 10%; 
    height: auto;
    text-align: center;
}