.etiqueta-xl{
    background-color: rgb(191, 191,191);
}
.imgEtiqueta
{
    height: 120px;
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.col-md{
    display: flex;

}
.img{
    margin-top: 2%;
}
ul{
    list-style: none;
}
.tex{
    margin-top: 7%;
}
.botones{
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
}