.body{
    background-color: rgb(242, 242, 242);
}
.etiqueta-xl{
    background-color: rgb(191, 191,191);
}
.imgEtiqueta
{
    height: 120px;
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
.container{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    height: auto;
    padding: 40px 0px;
}
/* Subcontendiro de las direcciones */
.subcontainer
{
    border: 1px solid rgb(217,217,217);
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
    border-radius: 100px;
}
ul{
    list-style: none;
    text-align:left ;
}
#Filas{
    border: 1px solid black;
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
    border-radius: 10px;
}
.p{
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
}
#columna{
    border: 1px solid black;
    
}
#fila2{
    margin-left: 0%;
}
#columna1{
    border-top: 1px solid black;
}
.firma-md{
    border: 1px solid black;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 2%;
    text-align: left;
    padding: 0px 10px;
    border-radius: 10px;
}
.firmar{
    width: 75%;
    border: none;
    border-bottom: 1px solid black;
    
}
#colorAmarillo{
    border: 3px solid orange;
    width: auto;
    margin-right: 10%;
    margin-left: 5%;
    
}
.button{
    background-color: #BFBFBF;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px #000000;
}